
#home
{
 width:100%;
}
.opaque
{
  width:100%;
  height:55rem;
  background:rgba(50,120,50,0.4);
}
.section1
{
  position:absolute;
  width:100%;
  height:80rem;
  background-image:url("../image/home2.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

.titre_home
{
  position:relative;
  width:40%;
  height:6rem;
  /*border:1px solid red;*/
  top:10rem;
  left:30%;
  
  
}
.button_home
{
  
  position:relative;
  top:2rem;
  
}

.footer_float
{
float:left;
width:25%;
}
.footer_float1
{
float:left;
margin-left:15%;
width:35%;
}
.footer_text
{
text-align:center;
}
 